<script>
    var myData = <%=raw @calid.to_json %>;
      $(document).ready(function() {
          $('#calendar').fullCalendar({
              eventSources: myData
          });
      });
</script>
</head>
<h1>Home Page</h1>
<li><%= link_to "Edit Profile" ,'users/edituser'%></li>
<div>
  <div id='calendar'></div>
</div>

