<script>
    var myData = <%=raw @calid.to_json %>;
    $(document).ready(function() {
        $('#calendar').fullCalendar({
            eventSources: myData
        });
    });
</script>
<h1>Home Page</h1>
<li><%= link_to "Edit Profile" ,'users/edituser'%></li>
<li><%= link_to "View Flyers" ,'flyers/show'%></li>
<div>
  <div id='calendar'></div>
</div>
