<h1>Home Page</h1>
<li><%= link_to "Edit Details Testing" ,:controller=>'events',:action=>'event_detail',:eid =>1%></li>
<li><%= link_to "Edit Profile" ,'users/edituser'%></li>
<p><%- for calendar in @cal %>
<%- events=calendar.events %>
	<%- for event in events %>	
	<li><%=link_to event.title,:controller=>'events',:action=>'event_detail',:calendar_name => 'CSC-WEB', :event_title =>event.title %></li><br></br>
	<%- end %>
<%- end %>
</p>
