
    <script>
        var myData = <%=raw @cal.to_json %>;
        $(document).ready(function() {
            $('#calendar').fullCalendar({
                eventSources: myData
            });
        });
    </script>
    <div>
      <div id='calendar'></div>
    </div>
<br></br>
<li><%= link_to "Back" ,'/home_page'%></li>
<br></br>
<br></br>

